<footer class="page-footer">
    <div class="footer-copyright container">
            © 2017 Copyright SyntaxRules
            <div class="right">
            {% for link in site.media_link %}
                <a class="circle-icon-link" href="{{link.url}}">
                    <svg class="icon icon-{{link.name}}">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-{{link.name}}"></use>
                    </svg>
                </a>
            {% endfor %}
            </div>
    </div>
</footer>