<nav>
    <div class="nav-wrapper">
        <a href="{{ site.url }} {{ site.baseurl }}" class="brand-logo">SyntaxRules</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/articles.html">Articles</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/consulting.html">Consulting</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/articles.html">Articles</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/consulting.html">Consulting</a></li>
        </ul>
    </div>
</nav>