<header class="header">
    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4">
            <!--TODO: Picture in config-->
            <img class="circle responsive-img"
                 src="https://avatars1.githubusercontent.com/u/4117657?v=3&s=460"/>
        </div>
        <div class="col s1">
            {% for link in site.media_link %}
            <a class="circle-icon-link" href="{{link.url}}">
                <svg class="icon icon-{{link.name}}">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-{{link.name}}"></use>
                </svg>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <h1 class="center col s12">SyntaxRules</h1>
    </div>
</header>