<header class="header">
    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4">
            <!--TODO: Picture in config-->
            <img class="circle responsive-img"
                 src="https://avatars1.githubusercontent.com/u/4117657?v=3&s=460"/>
        </div>
        <div class="col s1">
            <!--TODO: Change this into a config option-->
            <a class="circle-icon-link" href="#">
                <svg class="icon icon-rss">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
                </svg>
            </a>
            <!--<a class="circle-icon-link" href="#">-->
            <!--<svg class="icon icon-rss">-->
            <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>-->
            <!--</svg>-->
            <!--</a>-->
            <a class="circle-icon-link" href="#">
                <svg class="icon icon-rss">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google-plus"></use>
                </svg>
            </a>
            <a class="circle-icon-link" href="#">
                <svg class="icon icon-rss">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github-alt"></use>
                </svg>
            </a>
            <a class="circle-icon-link" href="#">
                <svg class="icon icon-rss">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-rss"></use>
                </svg>
            </a>

        </div>
    </div>
    <div class="row">
        <h1 class="center col s12">SyntaxRules</h1>
    </div>
</header>